{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "insertPragma": true,
  "jsxBracketSameLine": false,
  "parser": "typescript",
  "printWidth": 100,
  "requirePragma": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all"
}
